
<h1>{{title}}</h1>
<p>{{content}}</p>
<div>
    {{#each tags}}
        <script>console.log(this)</script>
        <p class="tags">#{{name}}</p>
    {{/each}}
</div> 
<a href="">❤</a>
<a href="">⤵</a>