
<h1>{{title}}</h1>
<a href="">{{author.username}}</a>
<p>{{content}}</p>
<div>
    {{#each tags}}
        <p class="tags">#{{name}}</p>
    {{/each}}
</div> 
<button class="btn-like">❤</button>
<button class="btn-follow">⤵</button>
