
<h1>{{title}}</h1>
<p>{{content}}</p>
<div>
    {{#each tags}}
        <script>console.log(this)</script>
        <p class="tags">#{{name}}</p>
    {{/each}}
</div> 
<button class="btn-like">❤</button>
<button class="btn-follow">⤵</button>