<div>
    <a href="/posts/{{_id}}/edit">Edit</a>

    <form action="/posts/{{_id}}/delete" method="post" class="form-delete">
        <input type="submit" value="Delete">
    </form>
</div>

<script src="/js/delete.js" type="module"></script>