{{!-- search from value passed to input to keep it from changing after search --}}
<form action="/search/users">
    <input type="text" name="search" placeholder="Search" value="{{this}}">
    <button>Search</button>
</form>