<ul>
    <li>
        <a href="/search/users?search={{searchValue}}">User</a>
    </li>
    <li>
        <a href="/search/post?search={{searchValue}}">Post</a>
    </li>
    <li>
        <a href="/search/tag?search={{searchValue}}">Tag</a>
    </li>
</ul>

{{>searchBar searchValue}}