<ul class="posts-feed">
    {{#each posts}}
            <li class="post-container" data-id="{{_id}}" data-author="{{author._id}}">
                {{>post post=this follows=../follows likes=../likes currentUser=../currentUser}}
            </li>
    {{/each}}
</ul>