<link rel="stylesheet" href="/stylesheets/posts.css">
<form action="/posts/creation" method="POST">
    <input class="title" type="text" name = 'title' placeholder="Title">
    <textarea class="content" name = 'content'placeholder="Content"></textarea>
    <div id = 'tagContainer'>
        <button type = "button" id="newTagBtn">new tag</button>
        {{> tag}}
    </div>
    <button>Post</button>
    <script src="/js/createTagInput.js"></script>
</form>