<form action="/posts/creation" method="POST">
    <input type="text" name = 'title' placeholder="Title">
    <input type="text" name = 'content'placeholder="Content">
    <div id = 'tagContainer'>
        <button type = "button" id="newTagBtn">newTagBtn</button>
    </div>
    <button>Post</button>
    <script src="/js/createTagInput.js"></script>
</form>