<ul>
    {{#each curVisiblePosts}}
        <li class="post" data-id="{{_id}}" data-author="{{author._id}}">
            {{> post post=this follows=../follows likes=../likes}}
            <a href="/posts/{{_id}}">Single Post view</a>
        </li>
    {{/each}}
</ul>