<div class="post" data-id="{{curPost._id}}" data-author="{{curPost.author._id}}">
    {{> post post=curPost}}
    {{#ifUserIsPostAuthor currentUser curPost}}
        {{> postModification this}}
    {{/ifUserIsPostAuthor}}
</div>
