<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js" integrity="sha512-wS6VWtjvRcylhyoArkahZUkzZFeKB7ch/MHukprGSh1XIidNvHG1rxPhyFnL73M0FC1YXPIXLRDAoOyRJNni/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/js/api.js"></script>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/posts/all">Feed</a>
      {{!-- <div id="userProfile"> --}}
        {{#if currentUser}}
          {{> profileNavView}}
          <a href="/posts/creation">Create Post</a>
        {{else}}
          {{> loginNav}}
        {{/if}}
      {{!-- </div> --}}
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>