/* general styles */
.creationContainer{
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 5% 5% 0 5%;
    gap: 3%;
    align-items: center;
}

#mdTips, #creation{
    background-color: var(--post-color);
    border: var(--primary-color) 1px solid;
    padding: 3% 0 3% 0;
    border-radius: 7%;
    height: 100%;
    box-sizing: content-box;
}

#mdTips *{
    margin: 1%;
    width: max-content;
    list-style-type: disc;
}

#mdTips{
    width: 60%;
    margin-right: 0;
    margin-left: auto;
    font-size: x-small;
    align-content: space-between;
}

#mdTips > div{
    margin: auto;
}


body{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

#preview{
    margin-top: 2%;
}

#mdInfo, #create{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#create form *:not(div){
    background-color: var(--secondary-color);
    border: var(--primary-color) solid 1px;

}

.createTitle, .createContent, #create .submit{
    height: 100%;
}

#creation{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 1fr 20% 10%;
    align-items: center;
    padding: 10%;
    gap: 2%;
    overflow: scroll;
    height: 80%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#creation::-webkit-scrollbar{
    display: none;
  }

#creation > *{
    padding: 2%;
    width: 100%;
    height: 100%;
}

.createTitle{
    text-align: center;
    font-size: x-large;
}

#tagContainer{
    overflow-y: scroll;
    padding: 0;
    height: 100%;
}

#newTagBtn{
    position: fixed;
}

#tagContainer input{
    width: min-content;
    margin: 0.5% 1% 0.5% 0;
    height: 30%;
}

.allTags{
    margin-top: 6%; 
}

#mdInfo  .post-container{
    height: fit-content;
    margin-bottom: 0;
}