form{
    display: grid;
    grid-template-columns: 1fr;
}

input{
    background-color: none;
    border: black solid 1px;
    text-align: center;
}

.title{
    margin: auto;
    width: 50%;
}

.content{
    width: 100%;
    height: 20rem;
}

md-span{
    display: block;
}
