body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
  gap: 2rem;
}

nav img{
  max-height: 8rem;
}

.comments-container {
  display: none;
}