@import url('./remedy-reset.css');
@import url('./colors.css');
@import url('./posts.css');
@import url('./search.css');

body {
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
  gap: 2rem;
  background-color: var(--primary-color);
}

.navbar a {
  color: var(--background-color);
  text-decoration: none;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
}

.navbar img{
  max-height: 10rem;

}

/* form{
  display: grid;
  grid-template-columns: 1fr;
}

input{
  background-color: none;
  border: black solid 1px;
  text-align: center;
} */

.post-title{
  margin: auto;
  width: 50%;
}




md-span{
  display: block;
}