@import url('./remedy-reset.css');

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
  gap: 2rem;
}

.navbar img{
  max-height: 8rem;
}

form{
  display: grid;
  grid-template-columns: 1fr;
}

input{
  background-color: none;
  border: black solid 1px;
  text-align: center;
}

.post-title{
  margin: auto;
  width: 50%;
}

.post-content{
  width: 100%;
  height: 20rem;
}

md-span{
  display: block;
}


.comments-feed-container {
  display: none;
}