{{!-- results for search by tags and titles --}}

<ul class="posts-feed">
    {{#each queryResults}}
        <li class="post-container" data-id="{{_id}}" data-author="{{author._id}}">
            {{log this}}
            {{> post post=this follows=../follows likes=../likes currentUser=../currentUser}}
        </li>
    {{/each}}
</ul>
